{% extends "layouts/default.html" %}

{% set title = "Confirm update " %}


{% block content %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <h1 class="govuk-heading-l">{{ title }} </h1>

      <form action="../dashboard/account-details" method="post" novalidate data-validate>
        <input type="hidden" name="alert" id="alert" value="show">
        <input type="hidden" name="alert-type" id="alert-type" value="email-update">

        {% set emailAddress %}
        {{ data['email-address'] }}
        {% endset %}
        {{ govukSummaryList({
          rows: [
            {
              key: {
                text: "Email address"
              },
              value: {
                html: emailAddress
              },
              actions: {
                items: [
                  {
                    href: "index",
                    text: "Change",
                    visuallyHiddenText: "name"
                  }
                ]
              }
            }
          ]
        }) }}


        {{ govukButton({
          text: "Update email address"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}
