{% extends "layouts/default.html" %}

{% set title = "Teacher self-service account" %}


{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      
      {% include "includes/header.html" %}

      <nav class="app-sub-navigation">

        <ul class="app-sub-navigation__list">
              <li class="app-sub-navigation__item">
                <a class="app-sub-navigation__link"  href="index">Qualifications</a>
              </li>

              <li class="app-sub-navigation__item">
                <a class="app-sub-navigation__link" aria-current="page" href="#">Account details</a>
              </li>
            
          </ul>
      
      </nav>

      
      {{ xGovukSummaryCard({
        classes: "govuk-!-margin-bottom-5",
        titleText: "Personal details",
      
        rows: [{
          key: {
            text: "Full name"
          },
          value: {
            html: "Sarah Jones" 
          },
          actions: {
            items: [{
              text: "Change",
              visuallyHiddenText: "Change name",
              href: "../change-name/index"
            }]
          }
        }, {
          key: {
            text: "Date of birth"
          },
          value: {
            text: "1 January 1980"
          },
          actions: {
            items: [{
              text: "Change",
              visuallyHiddenText: "change date of birth",
              href: "../change-dob/index"
            }]
          }
        }, {
          key: {
            text: "National Insurance Number"
          },
          value: {
            text: "JL0034AD"
          },
          actions: {
            items: [{
              text: "Change",
              visuallyHiddenText: "change National Insurance Number",
              href: "../change-national-insurance/index"
            }]
          }
        }]
      }) }}

      {{ xGovukSummaryCard({
        classes: "govuk-!-margin-bottom-5",
        titleText: "Contact details",
      
        rows: [{
          key: {
            text: "Email address"
          },
          value: {
            html: "sarah.jones123@gmail.com" 
          },
          actions: {
            items: [{
              text: "Change",
              visuallyHiddenText: "Change email address",
              href: "../change-email/index"
            }]
          }
        }, {
          key: {
            text: "Telephone number"
          },
          value: {
            text: "07827996233"
          },
          actions: {
            items: [{
              text: "Change",
              visuallyHiddenText: "change telephone number",
              href: "../change-telephone/index"
            }]
          }
        }]
      }) }}

  
   
    </div>
  </div>
{% endblock %}
