{% extends "layouts/default.html" %}

{% set title = "We’ve received your request" %}


{% block content %}
{% set html %}
<p class="app-!-inherit-colour govuk-!-margin-bottom-0">
  We have sent you a confirmation email.
</p>
{% endset %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      {{ govukPanel({
        titleHtml: title | noOrphans,
        html: html,
        classes: 'govuk-!-margin-bottom-6'
      }) }}

      <h2 class="govuk-heading-m">What happens next</h2>
      <p>We will review your request and get back to you in 2 working days.</p>
      <p> We will contact you either to confirm this change, or to notify you if your request isnt sucessful.</p>

      {{ govukButton({
        text: "Back to your account overview",
        href: "../"
      }) }}
    </div>
  </div>
{% endblock %}
