{% extends "layouts/default.html" %}

{% set title = "Update your National Insurance number" %}

{% block pageNavigation %}
{% include "includes/back.html" %}
{% endblock %}



{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">{{ title }} </h1>

      <form action="confirmation" method="post" novalidate data-validate>


        <p>Existing National Insurance Number: <span class="govuk-!-font-weight-bold">{{ data['national-insurance'] }}</span></p>

        {{ govukInput({
          classes: "govuk-input--width-10",
          id: "national-insurance",
          name: "national-insurance",
          value: "",        
          decorate: ["national-insurance"],
          validate: {
            presence: {
              message: "Enter a valid national insurance number"
            }
          }
        }) }}   

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}
