{% extends "layouts/default.html" %}

{% set title = "Update your date of birth" %}

{% block pageNavigation %}
{% include "includes/back.html" %}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="confirmation" method="post" novalidate data-validate>

        {% call govukFieldset({
          legend: {
            text:  title,
            classes: "govuk-fieldset__legend--l",
            isPageHeading: true
          }
        }) %}
        <p>If your date of birth is wrong, you’ll need to provide evidence to update it. </p>

        <p>Your evidence must be in pdf or jpeg format and be a scan of 1 of the following:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>birth certificate</li>
            <li>passport</li>
            <li>driving licence</li>
            
          </ul>
         {{ govukDateInput({

        
          hint: {
            text: "For example, 27 3 2007"
          },
          items: [
            {
              classes: "govuk-input--width-2 ",
              name: "day",
              value: "1",
              decorate: "day"

            },
            {
              classes: "govuk-input--width-2 ",
              name: "month",
              value: "1",
              decorate: "month"

            },
            {
              classes: "govuk-input--width-4 ",
              name: "year",
              value: "1980",
              decorate: "year"

            }
          ], 
    
          validate: {
            presence: {
              message: "Enter the date your passport was issued"
            },
            date: {
              message: "Passport issued should be a valid date"
            }
          }
        }) }}

      
        

        {{ govukFileUpload({
          id: "file-upload-1",
          name: "file-upload-1",
          label: {
            text: "Upload your evidence"
          },
          decorate: "upload",  
          validate: {
            presence: {
              message: "Upload your evidence"
            }
          }
        }) }}
         
        {% endcall %}

        {{ govukButton({
          text: "Update date of birth"
        
        }) }}
      </form>
    </div>
  </div>
{% endblock %}
