{% extends "layouts/default.html" %}

{% set title = "Update your National Insurance number" %}

{% block pageNavigation %}
{% include "includes/back.html" %}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form method="post" novalidate>

        {% call govukFieldset({
          legend: {
            text: title,
            classes: "govuk-fieldset__legend--l",
            isPageHeading: true
          }
        }) %}
  
        {{ govukInput({
          classes: "govuk-input--width-10",
          id: "national-insurance",
          name: "national-insurance",
          value: "JL0034AD"
        }) }} 

        
        
         
        {% endcall %}

        {{ govukButton({
          text: "Update National Insurance number",
          href: "confirmation"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}
