{% extends "layouts/default.html" %}

{% set title = "Update your email address" %}

{% block pageNavigation %}
{% include "includes/back.html" %}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <form action="confirmation" method="post" novalidate data-validate>

        {% call govukFieldset({
          legend: {
            text: "Update your email address",
            classes: "govuk-fieldset__legend--l",
            isPageHeading: true
          }
        }) %}

        {{ govukInput({
          label: {
            text: "Email address"
          },
          autocomplete: "email",
          spellcheck: false,
          type: "email",
          decorate: ["account", "email"],
          validate: {
            presence: {
              message: "Enter your email address"
            },
            email: {
              message: "Enter an email address in the correct format, like name@example.com"
            }
          }
        }) }}     
        
         
        {% endcall %}

        {{ govukButton({
          text: "Update email address"        
        }) }}
      </form>
    </div>
  </div>
{% endblock %}
