{% extends "layouts/default.html" %}

{% set title = "Update your telephone number" %}

{% block pageNavigation %}
{% include "includes/back.html" %}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="confirmation" method="post" novalidate data-validate>
        {% call govukFieldset({
          legend: {
            text: title,
            classes: "govuk-fieldset__legend--l",
            isPageHeading: true
          }
        }) %}
  
        {{ govukInput({
       
          hint: {
            text: "For international numbers include the country code"
          },
          id: "telephone-number",
          name: "telephone-number",
          type: "tel",
          autocomplete: "tel",
          classes: "govuk-input--width-20",
          value: "07827996233",          
          decorate: ["telephone-number"],
          validate: {
            presence: {
              message: "Enter a telephone number"
            }
          }
        }) }}

        
        
         
        {% endcall %}

        {{ govukButton({
          text: "Update telephone number"
                }) }}
      </form>
    </div>
  </div>
{% endblock %}
