{% extends "layouts/default.html" %}

{% set title = "Confirm telephone number " %}


{% block content %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <h1 class="govuk-heading-l">{{ title }} </h1>

      <form action="../dashboard/account-details" method="post" novalidate data-validate>
        <input type="hidden" name="alert" id="alert" value="show">
        <input type="hidden" name="alert-type" id="alert-type" value="telephone-update">
  

        {% set telephoneNumber %}
        {{ data['telephone-number'] }}
        {% endset %}
        {{ govukSummaryList({
          rows: [
            {
              key: {
                text: "Telephone number"
              },
              value: {
                html: telephoneNumber
              },
              actions: {
                items: [
                  {
                    href: "index",
                    text: "Change",
                    visuallyHiddenText: "name"
                  }
                ]
              }
            }
          ]
        }) }}
        

        {{ govukButton({
          text: "Confirm changes"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}
