{% extends "layouts/default.html" %}

{% set title = "Telephone number updated" %}


{% block content %}
{% set html %}
  <p class="app-!-inherit-colour govuk-!-margin-bottom-0">
    <a class="app-hidden-link govuk-!-font-size-24" href="../email/email-auto-confirmation">We've sent a confirmation email to {{ data['email-address'] }}</a>
  </p>
{% endset %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      {{ govukPanel({
        titleHtml: title | noOrphans,
        html: html,
        classes: 'govuk-!-margin-bottom-6'
      }) }}

      {{ govukButton({
        text: "Back to your account details",
        href: "../dashboard/account-details"
      }) }}
    </div>
  </div>
{% endblock %}
