{% extends "layouts/default.html" %}

{% set title = "Update your date of birth" %}

{% block pageNavigation %}
{% include "includes/back.html" %}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="evidence" method="post" novalidate >
        <input type="hidden" name="dob-change" id="dob-change" value="yes">

        <h1 class="govuk-heading-l">{{ title }} </h1>
        <p>If your date of birth is wrong, you’ll need to provide evidence to update it. </p>

          <p>First, tell us what you want to change your date of birth to. Then continue to find out about and provide evidence for your date of birth change.</p>



         {{ govukDateInput({

          fieldset: {
            legend: {
              isPageHeading: true,
              classes: "govuk-fieldset__legend--s"
            }
          },
          hint: {
            text: "For example, 27 3 2007"
          },
          decorate: "year",
          decorate: "date-of-birth",
          validate: {
            presence: {
              message: "Enter your date of birth"
            }
          }
        }) }}

        {{ govukButton({
          text: "Provide your evidence"

        }) }}
      </form>
    </div>
  </div>
{% endblock %}
