{% extends "layouts/email.html" %}

{% set subject = "Request rejected" %}
{% set from = "GOV.UK <teacher-self-serve@gov.uk>" %}
{% set to = "Sarah Jones <jane.jones123@gmail.com>" %}

{% block content %}
  <p>Dear Sarah,</p>
  <p>We have not completed your request to update your name because:  </p>
  <ul class="govuk-list govuk-list--bullet">
    <li>the document you sent is not accepted </li>
    <li>we need a copy of your passport/driving licence/birth</li>
    <li>certificate/deed poll change/decree absolute (where	applicable)</li>
    <li>we need ID showing your full name </li>
  </ul>

  <p>Once you have re-submitted the required document in pdf or jpeg format we’ll get back to you to confirm the update.</p>
  <p>If you have any questions, email us at:</p>
  <p><a href='mailto:QTS.enquiries@education.gov.uk'>QTS.enquiries@education.gov.uk</a></p>
  <p>Kind regards</p>
  <p>QTS and Induction team</p>
  <p>Teacher Regulation Agency  </p>

  

{% endblock %}
