{% extends "layouts/default.html" %}

{% set title = "Edit prototype data" %}

{% block pageNavigation %}
{% include "includes/back.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-l">{{ title }} </h1>

      <form action="index" method="post" novalidate >


        <p>If you’ve changed your name, you’ll need to provide evidence on the following page. </p>



        {{ govukInput({
          label: {
            text: "First names",
            classes: "govuk-label--s"
          },
          hint: {
            text: "Or given names"
          },
          classes: "govuk-!-width-two-thirds",
          autocomplete: "first-name",
          spellcheck: false,
          decorate: "first-name",
          name: "first-name-initial",
          validate: {
            presence: {
              message: "Enter your first name"
            }
          }
        }) }}
        
        {{ govukInput({
          label: {
            text: "Middle names (optional)",
            classes: "govuk-label--s"
          },
          classes: "govuk-!-width-two-thirds",
          name: "middle-name-initial",
          autocomplete: "middle-name",
          spellcheck: false
        }) }}

        {{ govukInput({
          label: {
            text: "Last names",
            classes: "govuk-label--s"
          },
          hint: {
            text: "Or family names"
          },
          classes: "govuk-!-width-two-thirds",
          autocomplete: "first-name",
          spellcheck: false,
          decorate: "last-name",
          id: "last-name-initial",
          name: "last-name-initial",


          validate: {
            presence: {
              message: "Enter your last name"
            }
          }
        }) }}
        {{ govukDateInput({

          fieldset: {
            legend: {
              text: "Your date of birth",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--s"
            }
          },  
          hint: {
            text: "For example, 27 3 2007"
          },
          decorate: "year",
          name: "date-of-birth-initial",
          id: "date-of-birth-initial",

          validate: {
            presence: {
              message: "Enter your date of birth"
            }
          }
        }) }}


        {{ govukInput({
          label: {
            text: "Email address"
          },
          autocomplete: "email-address",
          spellcheck: false,
          type: "email",
          value:'',
          decorate: "email-address",
          validate: {
            presence: {
              message: "Enter your email address"
            },
            email: {
              message: "Enter an email address in the correct format, like name@example.com"
            }
          }
        }) }}   
       
        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
  </div>
</div>
{% endblock %}
