{% extends "layouts/default.html" %}
{% block pageTitle %}Prototype{% endblock %}

{% block header %}
  {{ govukHeader({
    homepageUrl: "/",
    serviceUrl: "/",
    containerClasses: "govuk-width-container"
  }) }}

  <div class="app-masthead">
    <div class="govuk-width-container">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds-from-desktop">
          <h1 class="app-masthead__title govuk-heading-xl govuk-!-margin-bottom-3">
            Teacher self-service
          </h1>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <p class="govuk-heading-s">The screens and journeys for the teacher self-serve experience</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>Dashboard</li>
        <li><a href="change-name/enter-name">Change name</a></li>
        <li>Change date of birth</li>
        <li>Change phone number</li>
        <li>Change email address</li>
        <li>Change National insurance number</li>
      </ul>
 
    </div>
  </div>
{% endblock %}
