{% extends "layouts/default.html" %}
{% block pageTitle %}Prototype{% endblock %}

{% block header %}
  {{ govukHeader({
    homepageUrl: "/",
    serviceUrl: "/",
    containerClasses: "govuk-width-container"
  }) }}

  <div class="app-masthead">
    <div class="govuk-width-container">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds-from-desktop">
          <h1 class="app-masthead__title govuk-heading-xl govuk-!-margin-bottom-3">
            Teacher self-service
          </h1>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <p>The screens and journeys for the teacher self-serve experience</p>
      <p>Dashboard</p>
      <p><a href="change-name/index">Change name</a></p>
      <p>Change date of birth</p>
      <p>Change phone number</p>
      <p>Change email address</p>
      <p>Change National insurance number</p>
    </div>
  </div>
{% endblock %}
