{% extends "layouts/default.html" %}

{% set title = "Check answers page" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <h1 class="govuk-heading-l">Change your name</h1>

      <h2 class="govuk-heading-m">Change your name</h2>
 

      <h2 class="govuk-heading-m">Now send your application</h2>
      <p>By submitting this application you are confirming that, to the best of your knowledge, the details you are providing are correct.</p>

      <form method="post" novalidate>
        <input type="hidden" name="answers-checked" value="true">

        {{ govukButton({
          text: "Accept and send"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}
