{% extends "layouts/default.html" %}
{% set htmlClasses = "app-email" %}
{% set bodyClasses = "app-email__body" %}
{% set containerClasses = "app-email__header-and-message-container" %}
{% set mainClasses = "app-email__message" %}
{% set title = subject %}
{% block skipLink %}{% endblock %}
{% block header %}{% endblock %}



{% block beforeContent %}
  {{ govukHeader({
    containerClasses: "app-email__header"
  }) }}
{% endblock %}

{% block footer %}
  {% if data.scenario %}
    <div class="govuk-width-container app-email__metadata-container">
      <p>
        <a href="/user-research">Return to User research</a>
      </p>
    </div>
  {% endif %}
{% endblock %}
